rate limit, reset capture, access query manager

If I enter the capture directory, to access query managerget message

You currently have 4 query bins and are tracking 2 out of 400 possible phrases.
Your latest rate limit hit was on 2015  etc

How can I reset this, or remove the old queries?

Thanks
mark

Hi Mark,

in the capture interface of DMI-TCAT you can modify phrases per query bin and remove some of the phrases. You can also delete a full query bin by clicking delete next to the query bin, again in the capture interface.

Currently it is not possible to reset when your latest rate limit was hit. If there is popular demand, we can implement it.

Best,

Erik

Hi Erik,

Enclosed a screenshot of the problem; we can't find the capture interface of DMI-TCAT where we can delete the full query bin (or modify/remove it). 

![12268632_10208018663483231_1790301530_o](https://cloud.githubusercontent.com/assets/15876206/11190799/0513320e-8c98-11e5-89a0-f43dbd10a59b.jpg)

Thanks in advance for your help,

Anne-Marieke (& Mark)


Erik, could you please help?

Hi @ossel1,

pardon the slow response, I had not seen that you posted a screenshot earlier on. It seems that something is wrong with `dmi-tcat/capture/index.php`. Did you change it? Please verify that you have pulled the latest version from Github.

Best,

Erik

I downloaded the zip file and compared index.php, no difference. Any idea what else can cause this?
Can I copy and override all files in the subdirectory capture?

Hi @ossel1,

you should be able to unzip all files over the existing installation. Make a backup just in case (before that, you can delete everything from dmi-tcat/analysis/cache and and dmi-tcat/capture/logs).

Best,

Erik

sorry... Cleared logs, cache, and copied/overide all directories, except the config.php. Still same screen.
Any other idea?

@dentoir any ideas?

Hi @ossel1 

Looks like you have a fatal PHP error somewhere. Could you maybe paste the output of your Apache2 error logs (these files should be in /var/log/apache2/ in most Linux distributions)?

[Mon Dec 21 07:00:16 2015] [error] [client 61.216.2.13] client sent HTTP/1.1 request without hostname (see RFC2616 section 14.23): /
[Mon Dec 21 13:13:03 2015] [notice] SIGHUP received.  Attempting to restart
[Mon Dec 21 13:13:03 2015] [alert] (4)Interrupted system call: FastCGI: read() from pipe failed (0)
[Mon Dec 21 13:13:03 2015] [alert] (4)Interrupted system call: FastCGI: the PM is shutting down, Apache seems to have disappeared - bye
[Mon Dec 21 13:13:03 2015] [notice] Digest: generating secret for digest authentication ...
[Mon Dec 21 13:13:03 2015] [notice] Digest: done
[Mon Dec 21 13:13:03 2015] [notice] Apache/2.2.31 (Unix) mod_fastcgi/mod_fastcgi-SNAP-0910052141 mod_ssl/2.2.31 OpenSSL/1.0.1p-fips configured -- resuming normal operations
[Mon Dec 21 13:13:03 2015] [notice] FastCGI: process manager initialized (pid 2031)
[Mon Dec 21 14:50:13 2015] [error] [client 123.49.12.162] Invalid URI in request GET <title>phpMyAdmin HTTP/1.1
[Mon Dec 21 15:48:46 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Deprecated:  mysql_connect(): The mysql extension is deprecated and will be removed in the future: use mysqli or PDO instead in /volume1/web/dmi-tcat/analysis/common/functions.php on line 849
[Mon Dec 21 15:48:46 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Deprecated:  mysql_connect(): The mysql extension is deprecated and will be removed in the future: use mysqli or PDO instead in /volume1/web/dmi-tcat/analysis/common/functions.php on line 849
[Mon Dec 21 15:48:46 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Deprecated:  mysql_connect(): The mysql extension is deprecated and will be removed in the future: use mysqli or PDO instead in /volume1/web/dmi-tcat/analysis/common/functions.php on line 849
[Mon Dec 21 15:48:46 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Deprecated:  mysql_connect(): The mysql extension is deprecated and will be removed in the future: use mysqli or PDO instead in /volume1/web/dmi-tcat/analysis/common/functions.php on line 849
[Mon Dec 21 15:48:55 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Notice:  Use of undefined constant ADMIN_USER - assumed 'ADMIN_USER' in /volume1/web/dmi-tcat/capture/query_manager.php on line 5
[Mon Dec 21 15:48:55 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Warning:  include_once(/dmi-tcat//common/functions.php): failed to open stream: No such file or directory in /volume1/web/dmi-tcat/capture/index.php on line 8
[Mon Dec 21 15:48:55 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Warning:  include_once(): Failed opening '/dmi-tcat//common/functions.php' for inclusion (include_path='.') in /volume1/web/dmi-tcat/capture/index.php on line 8
[Mon Dec 21 15:48:55 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Warning:  include_once(/dmi-tcat//common/upgrade.php): failed to open stream: No such file or directory in /volume1/web/dmi-tcat/capture/index.php on line 9
[Mon Dec 21 15:48:55 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Warning:  include_once(): Failed opening '/dmi-tcat//common/upgrade.php' for inclusion (include_path='.') in /volume1/web/dmi-tcat/capture/index.php on line 9
[Mon Dec 21 15:48:55 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Warning:  include_once(/dmi-tcat//capture/common/functions.php): failed to open stream: No such file or directory in /volume1/web/dmi-tcat/capture/index.php on line 10
[Mon Dec 21 15:48:55 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Warning:  include_once(): Failed opening '/dmi-tcat//capture/common/functions.php' for inclusion (include_path='.') in /volume1/web/dmi-tcat/capture/index.php on line 10
[Mon Dec 21 15:48:55 2015] [error] [client 94.212.69.148] FastCGI: server "/php-fpm-handler" stderr: PHP message: PHP Fatal error:  Call to undefined function upgrades() in /volume1/web/dmi-tcat/capture/index.php on line 127

It looks like a path is misconfigured. BASE_FILE is empty in capture/index.php
BASE_FILE should point to the root directory of your TCAT installation.
Can you test if the variable is correctly set in config.php?

<?php


/*
 * Database credentials
 */
/*
$dbuser = "dmitcat";
$dbpass = "dmitcat2015!";*/
$dbuser = "root";
$dbpass = "";

$database = "twittercapture";
$hostname = "localhost";

/*
 * Capturing role(s) for DMI-TCAT
 * Here you can define which types of capturing you would like to do
 * Possible values are "track", "follow", "onepercent". 
 * Note that you can only do one of track, follow or onepercent per IP address and capturing key
 */
define("CAPTUREROLES", serialize(array("track")));

/*
 * The user who can add and modify query bins. 
 * This user should exist in your htaccess authentication
 * Leave empty if you do not want to restrict access to the query manager - which, of course, is a security risk
 */
/*("ADMIN_USER", "admin");
("ADMIN_USER", "");*/

/*
 * *Super advanced and currently undocumented feature, leave settings as they are*
 * We have made it possible to tunnel Twitter API connections through other hosts (obtaining a different source IP address), and use multiple keysets for multiple streaming queries.
 * Each capture script should define its role, see define("CAPTUREROLES",serialize(array()))
 * Every distinct role should then get a different network path below
 * 
 */
$GLOBALS["HOSTROLE"] = array(
    'track' => "https://stream.twitter.com/",
    'follow' => "https://stream.twitter.com/",
    'onepercent' => "https://stream.twitter.com/",
);

/*
 * Mail address to report critical errors to
 */
$mail_to = "";

/*
 * Twitter API keys
 */

// Main keyring, used for capturing from streaming API
// Make sure you have a key for each capture role defined in CAPTUREROLES above
if (!defined('CAPTURE') || !strcmp(CAPTURE, "track")) {
    $twitter_consumer_key = "IIh2zSzc1a1id9ga037scWzzI";
    $twitter_consumer_secret = "fd5tCI6FqTJe4Ae4OovmoXxyTRqmlGeEuoWfQR5aqj0DrGxI7R";
    $twitter_user_token = "3350469663-eiYuIZNpvekVxbx1sgQRMmiRro1g7lQ4WD06uf6";
    $twitter_user_secret = "OjPSFa7LSNVeGbXtxrRDiQm95YzazN8G017TLpz0iZlhR";
} elseif (!strcmp(CAPTURE, "follow")) {
    $twitter_consumer_key = "IIh2zSzc1a1id9ga037scWzzI";
    $twitter_consumer_secret = "fd5tCI6FqTJe4Ae4OovmoXxyTRqmlGeEuoWfQR5aqj0DrGxI7R";
    $twitter_user_token = "3350469663-eiYuIZNpvekVxbx1sgQRMmiRro1g7lQ4WD06uf6";
    $twitter_user_secret = "OjPSFa7LSNVeGbXtxrRDiQm95YzazN8G017TLpz0iZlhR";
} elseif (!strcmp(CAPTURE, "onepercent")) {
    $twitter_consumer_key = "IIh2zSzc1a1id9ga037scWzzI";
    $twitter_consumer_secret = "fd5tCI6FqTJe4Ae4OovmoXxyTRqmlGeEuoWfQR5aqj0DrGxI7R";
    $twitter_user_token = "3350469663-eiYuIZNpvekVxbx1sgQRMmiRro1g7lQ4WD06uf6";
    $twitter_user_secret = "OjPSFa7LSNVeGbXtxrRDiQm95YzazN8G017TLpz0iZlhR";
}

// List of additional keys to loop over when there is a limited amount of requests per key, e.g. search
// twitter_keys is an array of arrays listing different Twitter API keys
$twitter_keys = array(
    array("twitter_consumer_key" => "",
        "twitter_consumer_secret" => "",
        "twitter_user_token" => "",
        "twitter_user_secret" => "",
    )
);

/*
 * Klout account info (optional)
 */
$kloutapi_key = "";

/*
 * file root in which dmi-tcat resides. define('BASE_FILE', '/volume1/web/dmi-tcat/');

 */
define('BASE_FILE', '/dmi-tcat/');

/*
 * URL root in which dmi-tcats resides
 */
define('BASE_URL', '/dmi-tcat/');

/*
 * URL root in which analysis resides
 */
define('ANALYSIS_URL', BASE_URL . 'analysis/');

/*
 * When no database activity has occured for IDLETIME seconds during a track, the controller restarts the process. Do not set this too low,
 * as there is caching before we insert. Usually the default is fine.
 */
define('IDLETIME', 600);

/*
 * To avoid excessive verbosity, assume a minimal length of ratetime disturbance (heartbeat) in seconds
 */
define('RATELIMIT_SILENCE', 300);

/*
 * Report rate limit problems to the administrator every x hours ( 0 = no mail reporting )
 */
define('RATELIMIT_MAIL_HOURS', 24);

/*
 * Time zone
 */
date_default_timezone_set("Europe/London");

/*
 * Error reporting verbosity
 */
error_reporting(E_ALL & ~E_DEPRECATED);

/*
 * How long the script is allowed to run
 */
ini_set("max_execution_time", 3600);

/*
 * How much memory the script is allowed to take
 */
ini_set("memory_limit", "2G");

/*
 * Set encoding
 */
mb_internal_encoding("UTF-8");

/*
 * set location of php
 * find the location by typing 'which php' on the command line of your terminal
 */
define("PHP_CLI", "/usr/bin/php");

/*
 * Use mysql INSERT DELAYED statements to insert data into the MySQL database.
 * Recommended only for high-load sites, who may have nightly backupscripts locking database tables.
 * Make sure to adjust the MySQL server variables delayed_queue_size, max_delayed_threads to an appropriate sizes.
 * Experts only.
 */
define('USE_INSERT_DELAYED', false);

/*
 * Set to true, if you want all insert statements to fail on errors. Even though such errors are caught and reported,
 * setting this option on a production site is not recommended, since we are using multi-insert statements and all tweets
 * in such an insert will be lost on errors.
 * Developers only.
 */
define('DISABLE_INSERT_IGNORE', false);

/*
 * This is the github API URL used to check whether your current DMI-TCAT install is up-to-date (assuming you are using git).
 * You will want to change this only when you have forked the repository.
 */
define('REPOSITORY_URL', 'https://api.github.com/repos/digitalmethodsinitiative/dmi-tcat/commits');
 
?>


Is this my problem:
file root in which dmi-tcat resides. define('BASE_FILE', '/volume1/web/dmi-tcat/');
*/
define('BASE_FILE', '/dmi-tcat/');

yes, you should have the following:
```
define('BASE_FILE', '/volume1/web/dmi-tcat/');
```
also, make sure that the following reflects the URL with which you want to access tcat
```
define('BASE_URL', 'http://localhost/dmi-tcat/');
```

it did fix it, adding volume1/web/.  Thanks for pointing
It runs again; strange that I am not aware I changed it ever

Now, new message on top:
Notice: Use of undefined constant ADMIN_USER - assumed 'ADMIN_USER' in /volume1/web/dmi-tcat/capture/query_manager.php on line 5
Serious or not?


Change the following lines
```
/*("ADMIN_USER", "admin");
("ADMIN_USER", "");*/
```
to
```
define("ADMIN_USER", "admin");
```

resolved. Thanks...
No, sorry .. New message in analysis

Deprecated: mysql_connect(): The mysql extension is deprecated and will be removed in the future: use mysqli or PDO instead in /volume1/web/dmi-tcat/analysis/common/functions.php on line 849 

and, update overview on the same page provides : "page not found"
page:
http://xxx.getmyip.com/volume1/web/dmi-tcat/analysis/index.php?dataset=ISIStest3&query=&url_query=&exclude=&from_user_name=&from_source=&startdate=2015-09-08&enddate=2015-10-08&whattodo=&graph_resolution=day&outputformat=csv
page not found

try http://xxx.getmyip.com/dmi-tcat/analysis/index.php?dataset=ISIStest3&query=&url_query=&exclude=&from_user_name=&from_source=&startdate=2015-09-08&enddate=2015-10-08&whattodo=&graph_resolution=day&outputformat=csv

and make sure in config.php you have the following
```
define('BASE_URL', 'http://xxx.getmyip.com/dmi-tcat/');
```


Yes Sir, Thank you so much !!

welcome

Is there a solution for the rate limit message problem?

afaik currently the message will persist once it's hit.